//- layout.jade
doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/three.min.js')
    script(src="//threejs.org/examples/js/loaders/OBJLoader.js")
    script(src="//threejs.org/examples/js/Detector.js")
    script(src="//threejs.org/examples/js/libs/stats.min.js")
    block title
      title Default title
  body
    block content
  
  footer 
    - each s in scripts
      script(src=s)
